{% extends 'dashboard/template.html' %}
{% block page %}
    <section class="space-y-2">
        <span class="text-xl font-bold">Activities</span>
        {% if classrooms %}
        <ul class="space-y-2">
            {% for classroom in classrooms %}
            <li class="card border">
                <div class="card-body card-compact p-6">
                <div class="flex gap-5">
                    <div class="avatar placeholder">
                        <div class="bg-neutral text-neutral-content rounded-full w-12">
                            <span>C</span>
                        </div>
                    </div> 
                    <div>
                        <a class="text-xl font-bold" href="/dashboard/classroom/find/?id={{classroom['id']}}">{{classroom['name']}}</a>
                        <p>{{classroom['id']}}</p>
                    </div>
                </div>
                <p>{{classroom['description']}}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if quizzes %}
        <ul class="space-y-2">
            {% for quiz in quizzes %}
            <li class="card border">
                <div class="card-body card-compact p-6">
                <div class="flex gap-5">
                    <div class="avatar placeholder">
                        <div class="bg-neutral text-neutral-content rounded-full w-12">
                            <span>Q</span>
                        </div>
                    </div> 
                    <div>
                        <span>{{quiz['name']}}</span>
                        <p>{{quiz['id']}}</p>
                    </div>
                </div>
                <p>{{quiz['description']}}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if not classrooms and not quizzes %}
        <h1>You have no activities</h1>
        {% endif %}
    </section>
{% endblock %}
