{% extends 'dashboard/template.html' %}
{% block page %}
    <section class="space-y-2">
        <span class="text-xl font-bold">Activities</span>
        <ul class="space-y-2">
            {% for x in range(5) %}
            <li class="card border">
                <div class="card-body card-compact p-6">
                <div class="flex gap-5">
                    <div class="avatar placeholder">
                        <div class="bg-neutral text-neutral-content rounded-full w-12">
                            <span>Q</span>
                        </div>
                    </div> 
                    <div>
                        <span>Title of the quiz</span>
                        <p>Classroom name</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus rem distinctio, maiores culpa unde voluptate officia esse harum veritatis odio tenetur nesciunt voluptates dolore ducimus sapiente consequatur accusantium doloremque qui?</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
