{% extends 'dashboard/template.html' %}
{% block page %}
    <section>
        <form action=""></form>
    </section>
    <section>
        {% for x in range(5) %}
        
        {% endfor %}
    </section>
    <section class="space-y-5">
        {% if user %}
            {% if user.role == 'instructor' %}
            <a href="/dashboard/classroom/create/">create a classroom</a>
            {% endif %}
        {% endif %}
        {% if classrooms %}
        {% for classroom in classrooms %}
        <div class="card w-full bg-base-100 border">
            <div class="card-body flex-row gap-5 items-center">
                <a href="/dashboard/classroom/find/?id={{classroom.id}}" class="btn btn-square btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
                </a>
                <div>
                    <span class="text-xl font-bold">{{classroom.name}}</span>
                    <p>{{classroom.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% elif classroom %}
        <div class="">
            <h1 class="text-2xl font-bold">{{classroom.name}}</h1>
            <p class="text-lg font-light">{{classroom.description}}</p>
            <div class="overflow-x-auto">
            <div role="tablist" class="tabs tabs-bordered w-full">
                <input type="radio" name="my_tabs_1" role="tab" class="tab w-full" aria-label="Students" />
                {% if students %}
                <table role="tabpanel" class="tab-content table">
                    <!-- head -->
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- row 1 -->
                    {% for student in students %}
                    <tr>
                        <th>{{student['id']}}</th>
                        <td>{{student['name']}}</td>
                        <td>{{student['email']}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                <input type="radio" name="my_tabs_1" role="tab" class="tab w-full" aria-label="Quizzes" />
                {% if quizzes %}
                <table role="tabpanel" class="tab-content table">
                    <!-- head -->
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- row 1 -->
                    <tr>
                        <th>1</th>
                        <td>Cy Ganderton</td>
                        <td>Quality Control Specialist</td>
                    </tr>
                    <!-- row 2 -->
                    <tr>
                        <th>2</th>
                        <td>Hart Hagerty</td>
                        <td>Desktop Support Technician</td>
                    </tr>
                    <!-- row 3 -->
                    <tr>
                        <th>3</th>
                        <td>Brice Swyre</td>
                        <td>Tax Accountant</td>
                    </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
            </div>
        </div>
        {% endif %}
    </section>
{% endblock %}