{% extends 'dashboard/template.html' %}
{% block page %}
<section class="space-y-5">
    <span>length of the quiz {{len(quiz['questions'])}}</span>
    <form class="space-y-5" hx-ext="json-enc" hx-post="/dashboard/quiz/result/?quiz_id={{quiz['id']}}">
    {% for index,question in enumerate(quiz['questions']) %}
    <h1 class="text-2xl font-bold">Question {{index + 1}}</h1>
    <p class="font-light">
        {{question['text']}}
    </p>
    <label class="flex flex-col gap-5" for="">
        <span class="text-xl font-bold">Your answer</span>
        <input name="answer" class="input input-block input-bordered" placeholder="Enter Your Answer" required type="text" name="" id="">
    </label>
    {% endfor %}
    <div class="space-y-5">
        <button type="submit" class="btn btn-block btn-primary">Submit</button>
        <button type="button" class="btn btn-block btn-outline btn-error">Cancel</button>
    </div>
</form>
</section>
{% endblock %}