{% extends 'dashboard/template.html' %}
{% block page %}
    <form x-data="{questions = 0}" class="flex flex-col gap-5" action="">
        <label class="flex flex-col gap-5" for="">
            <span class="text-xl font-bold">Quiz Title</span>
            <input class="input input-block input-bordered" placeholder="Enter Title" required type="text" name="" id="">
        </label>
        <label class="flex flex-col gap-5" for="">
            <span class="text-xl font-bold">Quiz Description</span>
            <textarea required name="description" class="textarea textarea-bordered" placeholder="Enter some description" rows="3"></textarea>
        </label>
        <div class="flex justify-between items-center">
            <button type="button" onclick="createQuestionTeplate()" class="btn btn-square">+</button>
            <button class="btn btn-sm btn-success">Publish</button>
        </div>
        <ul id="question-forms" class="w-full space-y-5">
        </ul>
        <template id='question-template'>
            <li class="collapse bg-base-200 w-full">
                <input type="checkbox" /> 
                <div class="collapse-title text-xl font-medium">
                    <span class="text-xl" id="question-title"></span>
                </div>
                <div class="collapse-content space-y-2 w-full"> 
                    <div class="flex items-center gap-2">
                        <span class="text-xl font-bold">Type</span>
                        <select required class="select select-bordered w-full max-w-xs" name="type" id="">
                            <option value="identification">Identification</option>
                            <option value="multiple-choice">Multiple Choice</option>
                        </select>
                    </div>
                    <label for=""></label>
                    <label class="flex flex-col gap-5" for="">
                        <span class="text-xl font-bold">Question</span>
                        <textarea required name="question-description" class="textarea textarea-bordered w-full" placeholder="Enter some description" rows="3"></textarea>
                    </label>
                    <label class="flex flex-col gap-5" for="">
                        <span class="text-xl font-bold">Answer</span>
                        <input name="question-answer" class="input input-block input-bordered" placeholder="Enter Answer" required type="text" name="" id="">
                    </label>
                </div>
            </li>
        </template>
    </form>
    <script>
        function createQuestionTeplate() {
            let template = document.getElementById('question-template');
            let container = document.getElementById('question-forms');
            let clon = template.content.cloneNode(true);
            clon.getElementById('question-title').innerText = `Question ${container.children.length + 1}`;
            container.appendChild(clon);
        }
    </script>
{% endblock %}